* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #212020;
}
nav a {
  font-size: 2rem;
  text-decoration: none;
  color: yellow;
  margin-left: 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item h2 {
  color: yellow;
}
.grid-item p {
  color: #fff;
}
button {
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 10px;
  background-color: red;
  color: #fff;
  border-radius: 10px;
  margin-top: 15px;
}
